.arrow-button {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: rgba(230, 230, 230, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.left {
  left: 6%;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in;
}

.right {
  right: 6%;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in;
}

.left:hover,
.right:hover {
  background-color: rgba(230, 230, 230, 0.843);
  transform: translateY(-50%) scale(1.2);
}
