.sideDrawer__list {
  padding: 5px;
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
