@import "../../../styles/shared";
.operations__tab {
  background-color: white;
  color: inherit;
  border-radius: 0%;
  font-size: $font-content;
  width: 60%;

  span {
    margin-right: 1rem;
    font-weight: 700;
    display: inline-block;
  }

  &:hover {
    background-color: $color-primary;
  }

  @include breakpoint(large) {
    transform: translateY(-70%);
    height: 8rem;
    width: 24%;
  }
}

.active {
  transform: scale(1.1);
  background-color: $color-primary;

  @include breakpoint(large) {
    transform: translateY(-100%) scale(1);

    &:hover {
      background: $color-primary;
      filter: none;
    }
  }
}
