@import "../../../../styles/shared";

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 2rem;
  margin-bottom: 5rem;

  @include breakpoint(large) {
    margin: 0 6rem;
  }

  a {
    font-size: $font-content;
    color: #eee;
    text-decoration: none;
  }
}
