@import "../../../styles/shared";

.contact__form {
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem 2rem;
    align-items: center;
    align-content: center;
    flex-basis: 70%;
  }

  display: grid;
  // grid-template-columns: 2fr 4fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  align-items: center;
  align-content: center;
  flex-basis: 70%;

  input,
  textarea,
  button {
    background-color: #222;
    border: 2px solid #111;
    padding: 0.8rem;
    transition: all 0.3s ease-in;
    outline: none;
    font-family: inherit;
    resize: none;
    color: #666;
    --webkit-text-fill-color: none;
  }

  input::placeholder,
  textarea::placeholder {
    font-family: inherit;
    color: #666;
  }

  textarea {
    grid-row: 4 / span 5;
    height: 100%;
    @include breakpoint(large) {
      grid-row: 1 / span 4;
      grid-column: 2;
      height: 100%;
    }
  }

  input:focus,
  textarea:active,
  textarea:focus-visible,
  input:focus-within {
    border: 2px solid $color-primary;
    outline: none;
    outline-color: none;
    filter: drop-shadow(0rem 0rem 0.5rem $color-primary-darker);
  }

  .invalid {
    border: 2px solid $color-tertiary;
    outline: none;
    outline-color: none;
    filter: drop-shadow(0rem 0rem 0.5rem $color-tertiary-darker);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    display: none;
  }

  button {
    border-color: $color-primary;
    color: $color-primary;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  button::after {
    content: "";
    width: 101%;
    height: 102%;
    position: absolute;
    left: 0;
    top: -0.5px;
    transform: scaleX(0);
    background-color: $color-primary;
    transform-origin: right;
    z-index: -2;
    transition: transform 0.3s ease-in-out;
  }

  button:hover::after,
  button:active::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  button:hover {
    color: white;
    filter: drop-shadow(0rem 0rem 0.8rem $color-primary-darker);
  }
}
