@import "../../../../styles/shared";

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  position: relative;
}

.footer__copyright {
  font-size: $font-content;
  color: #aaa;
  text-align: center;

  a {
    font-size: inherit;
    color: white;
    text-decoration: none;
  }
}
