@import "../../../styles/shared";

.operations__content {
  font-size: $font-content;
  padding: 2.5rem 7rem 6.5rem 7rem;
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;

  .operations__header {
    font-size: $font-header;
    font-weight: 500;
    align-self: center;
  }

  .operations__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: $color-primary-opacity;

    svg {
      height: 2.75rem;
      width: 2.75rem;
      fill: $color-primary;
    }
  }
  p {
    grid-column: 2;
  }
}
