@import "../../../styles/shared";

.slider__image--mobile {
  max-width: 80rem;
  height: 45rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3rem gray;

  .clickInfo {
    position: absolute;
    background: $gradient-primary;
    color: #444;
    width: 100%;
    height: 14%;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg {
      width: $font-big-header;
      height: $font-big-header;
      fill: #444;
    }

    span {
      font-size: $font-header;
    }
  }

  @include breakpoint(large) {
    display: none;
  }

  .slide--img--mobile {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
  }
  .slide--img--mobile,
  .slide--img--mobile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  //   .slide--img--mobile {
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: rgba(0, 0, 0, 0.793);
  //     z-index: 20;
  //   }

  button {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: rgba(230, 230, 230, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .slider__btn--left--img--mobile {
    left: 6%;
    transform: translate(-50%, -50%), scale(1);
    transition: all 0.2s ease-in;
  }

  .slider__btn--right--img--mobile {
    right: 6%;
    transform: translate(50%, -50%), scale(1);
    transition: all 0.2s ease-in;
  }

  .slider__btn--left--img--mobile:hover,
  .slider__btn--right--img--mobile:hover {
    background-color: rgba(230, 230, 230, 0.843);
    transform: scale(1.2);
  }
}

//FULLSCREEN--mobile-fullscreen

.slider__image--mobile-fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0px 0px 3rem gray;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.929);

  @include breakpoint(large) {
    display: none;
  }

  .slide--img--mobile-fullscreen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide--img--mobile-fullscreen > img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 75%;
    // z-index: 50;
    border: none;
    background-color: rgba(230, 230, 230, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .slider__btn--close-fullscreen {
    font-family: inherit;
    color: rgba(230, 230, 230, 0.7);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 1;
  }

  .slider__btn--left--img--mobile-fullscreen {
    left: 6%;
    transform: translate(-50%, -50%), scale(1);
    transition: all 0.2s ease-in;
  }

  .slider__btn--right--img--mobile-fullscreen {
    right: 6%;
    transform: translate(50%, -50%), scale(1);
    transition: all 0.2s ease-in;
  }

  .dots__img {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    // z-index: 2;
    .dots__dot--img {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;

      &:last-child {
        margin: 0;
      }
    }
  }
}
