@import "../../../../styles/shared";

.hero {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: start;

  .hero__info {
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    h1 {
      font-size: 3.8rem;
      line-height: 1.6;

      span {
        position: relative;
        z-index: 1;

        &::after {
          display: block;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
          opacity: 0.7;
          transform: scale(1, 1) skewX(-15deg);
          background-image: $gradient-primary;
        }
      }
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 500;
    }

    a {
      font-size: 1.7rem;
      font-weight: 500;
      color: #444;
      padding: 0 0 2px 0;
      cursor: pointer;
      transition: all 0.7s;
      position: relative;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #444;
        transition: transform 0.5s ease-in-out,
          background-color 0.6s ease-in-out;
        transform: scaleX(0);
        transform-origin: right;
      }
      &:hover {
        color: $color-primary-darker;
      }

      &:hover::after {
        background-color: $color-primary-darker;
        transform: scaleX(1);
        transform-origin: left;
      }

      & span {
        display: inline-block;
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
      }

      &:hover span {
        transform: scale(1.5);
      }
    }
  }
}

.animation--one {
  transform: translate(-50%, -50%);
  padding: 0 20px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine1 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

.animation--two {
  transform: translate(-50%, -50%);
  padding: 0 20px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine2 3s infinite linear;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine1 {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 222px;
  }
  100% {
    background-position: 222px;
  }
}

@keyframes shine2 {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 185px;
  }
  100% {
    background-position: 185px;
  }
}
